<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory name="bill">
	    <property name="show_sql">true</property> 
	    <property name="hibernate.hbm2ddl.auto">update</property>  <!--validate or create-->

        <mapping class="com.elstele.bill.domain.LocalUser"/>
        <mapping class="com.elstele.bill.domain.Activity"/>
        <mapping class="com.elstele.bill.domain.Account"/>
        <mapping class="com.elstele.bill.domain.Address"/>
        <mapping class="com.elstele.bill.domain.Device"/>
        <mapping class="com.elstele.bill.domain.UserRole"/>
        <mapping class="com.elstele.bill.domain.DeviceTypes"/>
        <mapping class="com.elstele.bill.domain.ServiceT"/>
        <mapping class="com.elstele.bill.domain.ServiceInternet"/>
        <mapping class="com.elstele.bill.domain.ServicePhone"/>
        <mapping class="com.elstele.bill.domain.AccountService"/>
        <mapping class="com.elstele.bill.domain.DeviceTypes"/>
        <mapping class="com.elstele.bill.domain.Ip"/>
        <mapping class="com.elstele.bill.domain.IpSubnet"/>

    </session-factory>
         
</hibernate-configuration>